{%extends '_sticky_navbar_footer.html'%}
{%block css_sticky%}
<link href="/static/css/register.css" rel="stylesheet">
{%endblock%}
{%block content%}
<form action="" method="POST" class="form-horizontal form-register" role="form" onsubmit="return validate()">
 {% csrf_token %}
   {% autoescape on %}
 {{ form.email.errors }}
{% endautoescape %}
    <div class="form-group">
        <h3 class="form-signin-heading">重置密码</h3>
        <!--[if lte IE 9]> <label>邮箱</label><![endif]-->
        <input class="form-control"  id="email" maxlength="254" name="email" type="email" placeholder="注册邮箱" required>
        <span class="help-block" id="email_error"></span>
    </div>
    <div class="form-group">
        <input class="btn btn-primary btn-block"type="submit" value="发送" />
    </div>
</form>
{%endblock%}
 {%block js%}
  <script type="text/javascript">
        function validate(){
            email = $("#email").val()
            if(isNull('email','邮箱地址'))
                return false;
            if(!isEmail(email)){
                $("#email").val('');
                $("#email").focus();
                $("#email_error").css('display','block');
                $("#email_error").html('请填写正确的邮箱')
                return false;
            }
            return true
        }
        function isNull(field,txt){
            if($("#"+field).val()==null || $("#"+field).val()==''){
                $("#"+field).focus();
                $("#"+field+"_error").css('display','block');
                $("#"+field+"_error").html(txt+'不能为空')
                return true;
            }
            return false;
        }
        function isEmail(str){
            var reg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/;
            return reg.test(str);
        }
       
  </script>
{%endblock%}