{% extends '_base_login_.html'%}
{%block left%}
<div class="span7 offset1">
<p>忘记了密码？在下面输入您的注册邮箱，我们将给您发送重设密码的链接</p>

<form action="" method="POST">
 {% csrf_token %}
   {% autoescape on %}
 {{ form.email.errors }}
{% endautoescape %}
<div class="control-group">
<div class="input-prepend">
<span class="add-on"><i class="fui-mail"></i></span>
 <input id="id_email" maxlength="254" name="email" type="email" required>
 <input class="btn btn-primary btn-wide"type="submit" value="发送" />
 </div>
 </div>
</form>
</div>
{%endblock%}