{%extends '_sticky_navbar_footer.html'%}
{%block css_sticky%}
<link href="/static/css/register.css" rel="stylesheet">
{%endblock%}
{%block content%}
{% if validlink %}
<form action="" method="post" class="form-horizontal form-register" role="form"  autocomplete="off" onsubmit="return validate()">
    <h3 class="form-signin-heading">输入新密码</h3>
 {% csrf_token %}
  {% autoescape on %}
    <div class="form-group">
    <!--[if lte IE 9]> <label>新密码</label><![endif]-->
      <input class="form-control" id="password" name="new_password1" type="password" placeholder="新密码" required/>
      {%if form.new_password1.errors%}<span>{{form.new_password1.errors}}</span>{%endif%}
      <span class="help-block" id="password_error"></span>
    </div>
    <div class="form-group">
    <!--[if lte IE 9]> <label>确认新密码</label><![endif]-->
      <input class="form-control" id="password_confirm" name="new_password2" type="password" placeholder="确认新密码" required/>
      {%if form.new_password2.errors%}<span style="font-size:16px;line-height:25px;">两次密码不一致</span>{%endif%}
        <span class="help-block" id="confirm_error"></span>
        <span class="help-block" id="password_confirm_error"></span>
    </div>
    <div class="form-group">
      <input class = "btn btn-primary btn-block" type="submit" value="修改密码" />
    </div>
  </table>
   {% endautoescape %}
</form>
{% else %}
<h4>密码重置失败</h4>
<p>密码重设失败，可能是由于链接已经失效，请重新<a href="/password_reset">重置密码</a></p>
{% endif %}
</div>
{%endblock%}
 {%block js%}
  <script type="text/javascript">
        function validate(){
            pass1 = $("#password").val()
            pass2 = $("#password_confirm").val()
            if(isNull('password','密码')||isNull('password_confirm','密码确认'))
                return false;
            if(pass1 != pass2){
                $("#password_confirm").val('');
                $("#password_confirm").focus();
                $("#confirm_error").css('display','block');
                $("#confirm_error").html("两次输入的密码不一致")
                return false
            }
            return true
        }
        function isNull(field,txt){
            if($("#"+field).val()==null || $("#"+field).val()==''){
                $("#"+field).focus();
                $("#"+field+"_error").css('display','block');
                $("#"+field+"_error").html(txt+'不能为空')
                return true;
            }
            return false;
        }
        $('#password_confirm').bind('input propertychange', function(){
            pass1 = $("#password").val()
            pass2 = $("#password_confirm").val()
            if(pass1 == pass2){
                $("#confirm_error").css('display','none');
            }
        });
  </script>
{%endblock%}