{%extends '_sticky_navbar_footer.html'%}
{%block css_sticky%}
<link href="/static/css/filestyle.css" rel="stylesheet">

<link href="/static/fileupload/uploadfile.css" rel="stylesheet">
<link href="/static/css/jquery.contextMenu.css" rel="stylesheet">
    <link href="/static/css/jquery.contextMenu.css" rel="stylesheet">
    <link href="/static/css/MimeTypeIcon.css" rel="stylesheet">
{#    <script src="/static/js/jquery.js"></script>#}

    {% if WEB_RSYNC %}
    <script src="/static/js/socket.io-1.3.0.js"></script>
        <script src="/static/js/bit-sync.js"></script>
        <script>
            //data变量用来存储 文件的数据
            var data;
            var files;
            //将 文件内容读取到 data变量中
            function convert() {
                files = document.getElementById('inputfile').files;
                file = files[0];
                var reader = new FileReader();

                reader.onload = function(e) {
                    //var arrayBuffer = reader.result;
                    data = e.target.result;
                    //data = new Uint8Array([1,1]);
                    var bufferView8 = new Uint8Array(data);
                    data = bufferView8.buffer.slice(0);
                    commit("{{user.email}}/"+file.name);
                }

                reader.readAsArrayBuffer(file);
            }

        </script>

        <script>
            //建立 socket io 连接
            //var socket = io("http://127.0.0.1:3000");
            var socket = null
            //客户端提交文件申请，参数为文件名
            function commit(filename){
                socket.emit('commit',filename);
            }
            //客户端接收到服务器传来的文件checksum，计算patchDoc
            socket.on('doc', function(doc){
                sendPatchDoc(doc);
            });
            //客户端将patchDoc发送给服务器
            function sendPatchDoc(doc){
                var array = $.map(doc, function(value, index) {
                    return [value];
                });
                docView = new Uint8Array(array);
                //console.log("===== doc view =====")
                //console.log(docView);
                docViewBuffer = docView.buffer.slice(0);
                //console.log(new Uint8Array(docViewBuffer));
                //console.log(new Uint8Array(data));
                patchDocument = BSync.createPatchDocument(docViewBuffer, data);
                //console.log(new Uint8Array(patchDocument));
                //console.log('send over');
                socket.emit('patchDoc',patchDocument)
            }
            //客户端接受到服务器返回的结果
            socket.on('result',function(result){
                console.log(result);window.location.reload(false);

            })

        </script>
        <script type="application/javascript">
            function verifyData(buffer1, buffer2)
            {
              var buffer1View8 = new Uint8Array(buffer1);
              var buffer2View8 = new Uint8Array(buffer2);

              if(buffer1.byteLength != buffer2.byteLength) return false;

              var pass = true;
              for(var i=0; i<buffer1View8.length; i++)
                if(buffer1View8[i] != buffer2View8[i])
                {
                  pass=false;
                  break;
                }
              return pass;
            }

        </script>
    {% endif %}
{%endblock%}
{%block header%}
    

     <div class="navbar navbar-fixed-top">
      <div class="container" style="background-color:#ffffff">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo_48_196" href="/"></a>
      </div>
       <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
          <a id="drop4" role="button" data-toggle="dropdown" href="#">{{user.email}} <b class="caret"></b></a>
          <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">个人信息</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">退出</a></li>
          </ul>
        </li>
        </ul>
      </div>
      </div>
      </div>
<div class="fileheader-fiexed-top" >
    <div id="overallcontrol" class="container"> 
    <div class="span8">
        <div id="filelevel">

            <a class="btn btn-default btn-sm" href="?">全部文件</a>
            {% for level in final_filelevel_list %}
                <a class="btn btn-default btn-sm" href="?current_dir={{ level.href }}">{{ level.name}}</a>
            {% endfor %}

        </div>
        <div id="uploadcontrol" class="pull-right">

            <button class="btn btn-primary" data-toggle="modal" data-target="#newFolderModal">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                新建文件夹
            </button>

            <button class="btn btn-success" data-toggle="modal" data-target="#uploadModal">
                <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                上传
            </button>


        </div>
     </div>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="uploadModalLabel">上传文件</h4>
      </div>
      <div class="modal-body">


<div id="mulitplefileuploader">上传</div>

        <div id="status"></div>

      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-default" data-dismiss="modal">取消</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="downloadModalLabel">下载文件</h4>
      </div>
      <div class="modal-body">
          <form action="/download_file" method="get" id="download_window">
              <input type="hidden" id="downloadfilename" name="file_name"/>
              <input type="hidden" name="current_dir" value="{{ current_dir }}"/>
              <input type="submit" class="btn btn-primary btn-large" value="下载"/>
          </form>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-default" data-dismiss="modal">取消</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <div class="modal fade" id="newFolderModal" tabindex="-1" role="dialog" aria-labelledby="newFolderModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newFolderModalLabel">新建文件夹</h4>
      </div>
      <div class="modal-body">
          <form action="/new_folder" method="get">
              <input type="hidden" name="current_dir" value="{{ current_dir }}"/>
              <input type="text" name="new_folder"/>
              <input type="submit" class="btn btn-primary btn-large" value="新建"/>
          </form>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-default" data-dismiss="modal">取消</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{%endblock%}
{%block content%}
<div id="filelist" class="container" >

    <table class="table table-hover" id="filetable">

        <thead>
          <tr>
            <th class="listcheckbox"></th>
            <th class="listfilename" ><a href='/home/files?order_by=filename&current_dir={{ current_dir }}&sort_method={% if sort_method == 'desc' %}{{ 'asc' }}{% else %}{{ 'desc' }}{% endif %}'>文件名</a></th>
            <th class="allcontrol"><span id="operateonfiles">文件操作</span></th>
            <th class="listsize"><a href='/home/files?order_by=size&current_dir={{ current_dir }}&sort_method={% if sort_method == 'desc' %}{{ 'asc' }}{% else %}{{ 'desc' }}{% endif %}'>大小</a></th>
            <th class="listdate"><a href='/home/files?order_by=last_modified&current_dir={{ current_dir }}&sort_method={% if sort_method == 'desc' %}{{ 'asc' }}{% else %}{{ 'desc' }}{% endif %}'>修改日期</a></th>
          </tr>
        </thead>
    <tbody id='filebody'>


        </tbody>
    </table>
</div>

{%endblock%}
{%block js%}
    <script src="/static/js/jquery.js"></script>
    <script src="/static/fileupload/jquery.uploadfile.min.js"></script>
    <script type="text/javascript" src="/static/js/base64.js"></script>
    <!--
    <script type="text/javascript" src="/static/js/jquery.contextMenu.js"></script>
    <script>
    $(function(){
    $('#filebody').contextMenu({
            selector: 'tr',
            callback: function(key, options) {
                if (key=='delete'){$(this).children(".filecontrol").children('form').submit()}
                else if (key=='rename'){
                     $current_file_name = $(this).contents('.listfilename').contents('.file-name').text()

             $(this).children('.listfilename').html("<form method='get' action='/rename_file'><input type='hidden' name='current_dir' value='{{ current_dir }}'> <input type='text' value='"+ $current_file_name +"' name='new_name'/><input type='hidden' value='"+$current_file_name+"' name='old_name'/><input type='submit' class='btn btn-sm btn-danger'><a class='btn btn-sm btn-default' href='/home/files' >取消</a></form>")
                }
                else if(key == 'download'){
                    file_name = $(this).children('.listfilename').text()
                   $('#downloadfilename').val(file_name);
                    $("#download_window").submit()

                }

            },
            items: {

                "delete": {name: "删除"},
                "rename": {name: "重命名"}
            }
        });
    });
    </script>-->
    <script type="text/javascript">
    function reloadFilelist(){
        htmlobj=$.ajax({url:"/filelist?current_dir={{ current_dir }}{% if order_by %}&order_by={{ order_by }}{% endif %}{% if sort_method %}&sort_method={{ sort_method }}{% endif %}",async:false});
        $("#filebody").html(htmlobj.responseText);
        $(".checkfile").bind('click',function(){

                    var no_checked = true
                    $(":checkbox:checked").each(function(){

                           if($(this).prop("checked")){
                               no_checked = false
                           }
                    });
                if(!no_checked){
                        $("#operateonfiles").html("<a href='javascript:' onclick='batch_download()' >批量下载</a>");
                    }
                else{
                    $("#operateonfiles").html("文件操作");
                }
                });
            $('.hash-changer').bind('click', function() {
                var hash = $(this).attr('href');
                hashchanged(hash);
            });
            $("#checkboxcontrol").click(function(){
                if($(this).prop('checked')==true){
                    $(".checkboxset").each(function(){
                      $(this).prop("checked", true);
                    })
                }
                else{
                   $(".checkboxset").each(function(){
                      $(this).prop("checked", false);
                    })
                }
            })
          $(".rename-file").bind('click',function(){
              console.log('rename');

             $current_file_name = $(this).parent().parent().contents('.listfilename').contents(".filename-wrapper").contents(".file-name-wrapper").contents(".file-name").text()
             $(this).parent().parent().children('.listfilename').html("<form method='get' action='/rename_file'> <input type='hidden' name='current_dir' value='{{ current_dir }}'><input type='text' value='"+ $current_file_name +"' name='new_name'/><input type='hidden' value='"+$current_file_name+"' name='old_name'/><input type='submit' class='btn btn-sm btn-danger' value='提交'><a class='btn btn-sm btn-default' href='/home/files' >取消</a></form>")

            })
          $(".delete-file").bind('click',function(){

              $(this).parent().children('form').submit()

          })
    }
        $(document).ready(function(){
            reloadFilelist();

            var upload_settings = {
                url: "/upload"+"?current_dir="+"{{ current_dir }}",
                dragDrop:true,
                fileName: "myfile",
                returnType:"json",
                showDelete:false,
                showDown:true,
                 onSuccess:function(files,data,xhr)
                {
                   // alert((data));
                    console.log(data);
                    reloadFilelist();
                }
            };
            var uploadObj = $("#mulitplefileuploader").uploadFile(upload_settings);

        });
        function handle_click_file(file_name){
                $('#downloadModalLabel').html(file_name);
                $('#downloadfilename').val(file_name);
        }
        function batch_download(){
            var all_files = '';
             $(":checkbox:checked").each(function(){
                    console.log($(this).val());
                         all_files+= $(this).val()+"#";
             }
             );
            console.log(all_files);
             var url = '/batchDownload'; // 取Form中要提交的链接
                var param = {}; // 组装发送参数
                param['files']  = all_files;
                param['current_dir'] = '{{ current_dir }}';
              $.get(url, param, function(dom) {
                  location.href = '/media/buffer/batched/'+dom;
              });
        }



    </script>

{%endblock%}

