{%extends '_sticky_navbar_footer.html'%}
{%block css_sticky%}
<link href="/static/css/filestyle.css" rel="stylesheet">
{%endblock%}
{%block header%}
    
        <!--[if !IE]><!--> 
        <div class="navbar navbar-fixed-top">
      <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo_48_196" href="/"></a>
      </div>
       <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
          <a id="drop4" role="button" data-toggle="dropdown" href="#">{{user.email}} <b class="caret"></b></a>
          <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">个人信息</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">退出</a></li>
          </ul>
        </li>
        </ul>
      </div>
      </div>
      </div>
      <!--<![endif]-->

      <!--[if lte IE 9]>
      <style type="text/css">
      body{
        min-width:600px;
        max-width:1100px;
        margin:0 auto -90px;
      }
      .fileheader-fiexed-top{
        max-width:1100px;
        margin:0 auto;
      }
      </style>
        <div class="header">
        <div class="container">
        <ul class="nav nav-pills pull-right">
        <li class="dropdown">
          <a id="drop4" role="button" data-toggle="dropdown" href="#">{{user.email}} <b class="caret"></b></a>
          <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">个人信息</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">退出</a></li>
          </ul>
        </li>
        </ul>
        <h3 class="text-muted"><a class="navbar-brand logo_48_196" href="/"><span class="logo_48_196_hidden_hover"></span></a></h3>
        </div>
      </div>
      <![endif]-->
    
<div class="fileheader-fiexed-top">
    <div id="overallcontrol" class="container"> 
    <div class="span8">
        <div id="filelevel">
            <a href="#path=/" class="hash-changer">全部文件</a>
            <span class="gray">&nbsp;&gt;&nbsp;</span>
            <a href="#path=/文件夹1/" class="hash-changer">文件夹1</a>
            <span  class="gray">&nbsp;&gt;&nbsp;</span>
            <a href="#path=/文件夹1/文件夹2" class="hash-changer">文件夹2</a>
        </div>
        <div id="uploadcontrol" class="pull-right">
            <button class="btn btn-primary btn-sm">上传</button>
            <button class="btn btn-primary btn-sm">新建文件夹</button>
        </div>
     </div>
    </div>
    <div id="listcontrol" class="container">
        <table class="table table-bordered" style="margin:0;height:">
            <thead>
          <tr>
            <th class="listcheckbox"><input type="checkbox" id="checkboxcontrol"/></th>
            <th class="listfilename" width="100px">文件名</th>
            <th class="allcontrol"><a href="#">删除</a><a href="#">下载</a></th>
            <th class="listsize">大小</th>
            <th class="listdate">修改日期</th>
          </tr>
        </thead>
        </table>
    </div>
</div>

{%endblock%}
{%block content%}
<div id="filelist" class="container">
    <table class="table table-hover">
        <tbody>
        <tr class="fileinfo">
            <td class="listcheckbox"><input type="checkbox" class="checkboxset"/></td>
            <td class="listfilename"><img id='testpic'></td>
            <td class="filecontrol"><a href="#">共享</a><a href="#">删除</a><a href="#">下载</a><a href="#">重命名</a></td>
            <td class="listsize">Otto</td>
            <td class="listdate">@mdo</td>
          </tr>
          
        <tr class="fileinfo">
            <td class="listcheckbox"><input type="checkbox" class="checkboxset"/></td>
            <td class="listfilename">Mark</td>
            <td class="filecontrol"><a href="#">共享</a><a href="#">删除</a><a href="#">下载</a><a href="#">重命名</a></td>
            <td class="listsize">Otto</td>
            <td class="listdate">@mdo</td>
          </tr>
          
        <tr class="fileinfo">
            <td class="listcheckbox"><input type="checkbox" class="checkboxset"/></td>
            <td class="listfilename">Mark</td>
            <td class="filecontrol"><a href="#">共享</a><a href="#">删除</a><a href="#">下载</a><a href="#">重命名</a></td>
            <td class="listsize">Otto</td>
            <td class="listdate">@mdo</td>
          </tr>
        </tbody>
    </table>
</div>
{%endblock%}
    {%block js%}
    <script type="text/javascript" src="/static/js/base64.js"></script>
    <script type="text/javascript" src="/static/js/oss.js"></script>
    <script type="text/javascript" src="/static/js/file.js"></script>
    <script type="text/javascript">

        $(document).ready(function(){
            $('.hash-changer').bind('click', function() {
                var hash = $(this).attr('href');
                //do whatever you need with the hash
                hashchanged(hash);
            });

            $("#checkboxcontrol").click(function(){
                if($(this).prop('checked')==true){
                    $(".checkboxset").each(function(){
                      $(this).prop("checked", true);
                    })
                }
                else{
                   $(".checkboxset").each(function(){
                      $(this).prop("checked", false);
                    })
                }
            })
            get_host_list();
        });
    </script>

    {%endblock%}

