{% extends '_sticky_footer_template_.html'%}
{%block header%}
 <div class="navbar" id='top-varbar'>
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
      <a href="/" class="brand fui-flat"></a>

      <div class="nav-collapse collapse" id="nav-collapse-01">
        <ul class="nav pull-right">
        <li><a href="#renren">官方主页</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{%endblock%}

{%block content%}

{%block left%}{%endblock%}

    
    {%block right%}<div class="span3 offset1" style="margin-top:20px;"></div>{%endblock%}
    {%endblock%}
    
    {%block footer%}
    <div class="bottom-menu bottom-menu-inverse">
      <div class="container">
        <div class="row">
          <div class="span2 brand">
            <a href="#fakelink" class="fui-flat"></a>
          </div>

          <div class="span8">
            <ul class="bottom-links">
              <li><a href="#fakelink">权利声明</a></li>
              <li><a href="#fakelink">关于我们</a></li>
              <li><a href="#fankui">提交反馈</a><li>
            </ul>
          </div>

          <div class="span2">
            <ul class="bottom-icons">
              <li><a href="#fakelink" class="fui-pinterest"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {%endblock%}
    
       {%block javascript%}{%endblock%}